<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godisweb.mapper.webcom.CacheMapper">
    <select id="selectAllCodes" parameterType="map" resultType="map">
    <![CDATA[
        SELECT GRP_CD_ID
	         , CD_VAL
	         , CD_VAL_NM
	         , CD_VAL_ENG_NM
	         , CD_VAL_DSC
	         , UP_CD_VAL
	         , SORT_ORD
	         , CD_ADD_INFO_VAL1
	         , CD_ADD_INFO_VAL2
	         , CD_ADD_INFO_VAL3
	         , CD_ADD_INFO_NO1
	         , CD_ADD_INFO_NO2
	         , CD_ADD_INFO_NO3
	      FROM GPCL_CM_CD_VAL
	     WHERE USE_YN = 'Y'
	     ORDER BY GRP_CD_ID, SORT_ORD 
    ]]>
    </select>
    
    <select id="selectCodes" parameterType="map" resultType="map">
    <![CDATA[
        SELECT GRP_CD_ID
	         , CD_VAL
	         , CD_VAL_NM
	         , CD_VAL_ENG_NM
	         , CD_VAL_DSC
	         , UP_CD_VAL
	         , SORT_ORD
	         , CD_ADD_INFO_VAL1
	         , CD_ADD_INFO_VAL2
	         , CD_ADD_INFO_VAL3
	         , CD_ADD_INFO_NO1
	         , CD_ADD_INFO_NO2
	         , CD_ADD_INFO_NO3
	      FROM GPCL_CM_CD_VAL
	     WHERE USE_YN = 'Y'
	       AND GRP_CD_ID = #{GRP_CD_ID}
	     ORDER BY SORT_ORD 
    ]]>
    </select>
    
    <select id="selectAllMessages" parameterType="map" resultType="map">
    <![CDATA[
        SELECT MSG_ID
             , MSG_CLSS_CD
             , MSG_KOR_CONTN
             , MSG_ENG_CONTN
             , MSG_BUTN_CD
             , MSG_TP_CD
          FROM GPCL_MSG_CD
         ORDER BY MSG_ID
    ]]>
    </select>
    
    <select id="selectMessages" parameterType="map" resultType="map">
    <![CDATA[
        SELECT MSG_ID
             , MSG_CLSS_CD
             , MSG_KOR_CONTN
             , MSG_ENG_CONTN
             , MSG_BUTN_CD
             , MSG_TP_CD
          FROM GPCL_MSG_CD
         WHERE MSG_ID = #{MSG_ID}
         ORDER BY MSG_ID
    ]]>
    </select>
</mapper>