<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.godisweb.mapper.admin.BatMntrMapper">

  <select id="selectBatchMonitorDt" parameterType="map" resultType="map">
    <![CDATA[

		WITH RECURSIVE T_BAT_UP_ROOT AS (
		SELECT 
			A.EXECUTE_GRP_SEQ,
			A.TASK_GRP_ID,
			A.EXECUTE_TP_CD,
			A.EXECUTE_PARM_VAL,
			A.BAS_DD,
			A.STRT_DDTM,
			A.END_DDTM,
			A.EXECUTE_STAT_CD,
			A.PROCS_DELTA,
			A.TASK_ORD_NO,
			A.UP_EXECUTE_GRP_SEQ,
			A.TASK_CONN_SEQ,
			A.REG_DDTM,
			A.REG_ID,
			COUNT(1) OVER (ORDER BY (SELECT 1)) AS TOT_CNT
		FROM GPCL_BAT_EXECUTE_GRP A
		INNER JOIN GPCL_BAT_TASK_GRP B ON A.TASK_GRP_ID = B.TASK_GRP_ID
		LEFT OUTER JOIN GPCL_USR C ON A.REG_ID = C.USR_ID
		WHERE A.BAS_DD = #{SEARCH_DD}
			AND A.UP_EXECUTE_GRP_SEQ IS NULL
				AND A.EXECUTE_STAT_CD = CASE
									WHEN #{EXECUTE_STAT_CD} IS NULL OR 'A' = '00' THEN A.EXECUTE_STAT_CD
									ELSE #{EXECUTE_STAT_CD}
									END
		
			AND B.TASK_GRP_NM LIKE CONCAT('%', #{SEARCH_GRP_NM}, '%')
		]]>
			<if test="SEARCH_ID != null and SEARCH_ID != ''">
			<![CDATA[
				AND A.REG_ID = #{SEARCH_ID}
			]]>
			</if>
			<if test="AUTO_FLAG != null and AUTO_FLAG.equals('Y')">
			<![CDATA[
				AND A.EXECUTE_STAT_CD IN ('01', '02')
			]]>
			</if>
			<if test="EXECUTE_TP_CD != null and EXECUTE_TP_CD != ''">
			<![CDATA[
				AND A.EXECUTE_TP_CD = #{EXECUTE_TP_CD}
			]]>
			</if>
			<if test="SEARCH_EXEC_SEQ != null and SEARCH_EXEC_SEQ != 0">
			<![CDATA[
				AND A.EXECUTE_GRP_SEQ <= #{SEARCH_EXEC_SEQ}
			]]>
			</if>
			<if test="SEARCH_TOTAL == null or (SEARCH_TOTAL != null and SEARCH_TOTAL.equals('N'))">
			<![CDATA[
				ORDER BY A.EXECUTE_GRP_SEQ DESC
			]]>
			</if>
		
			<![CDATA[
		
		),
		T_BAT_UP_GRP AS (
		SELECT 
			T.EXECUTE_GRP_SEQ AS SEQ_KEY,
			0 AS GRP_SEQ,
			T.EXECUTE_GRP_SEQ,
			T.TASK_GRP_ID,
			T.EXECUTE_TP_CD,
			T.EXECUTE_PARM_VAL,
			T.BAS_DD,
			T.STRT_DDTM,
			T.END_DDTM,
			T.EXECUTE_STAT_CD,
			T.PROCS_DELTA,
			T.TASK_ORD_NO,
			T.UP_EXECUTE_GRP_SEQ,
			T.TASK_CONN_SEQ,
			T.REG_DDTM,
			T.REG_ID,
			T.EXECUTE_GRP_SEQ AS ROOT_GRP_SEQ,
			T.UP_EXECUTE_GRP_SEQ AS UP_GRP_SEQ,
			T.TASK_GRP_ID AS ROOT_TASK_GRP_ID,
			1 AS DEPTH,
			T.TOT_CNT
		FROM T_BAT_UP_ROOT T
		
		UNION ALL
		
		SELECT 
			T1.EXECUTE_GRP_SEQ AS SEQ_KEY,
			T2.EXECUTE_GRP_SEQ AS GRP_SEQ,
			T1.EXECUTE_GRP_SEQ,
			T1.TASK_GRP_ID,
			T1.EXECUTE_TP_CD,
			T1.EXECUTE_PARM_VAL,
			T1.BAS_DD,
			T1.STRT_DDTM,
			T1.END_DDTM,
			T1.EXECUTE_STAT_CD,
			T1.PROCS_DELTA,
			T1.TASK_ORD_NO,
			T1.UP_EXECUTE_GRP_SEQ,
			T1.TASK_CONN_SEQ,
			T1.REG_DDTM,
			T1.REG_ID,
			T2.ROOT_GRP_SEQ,
			T2.EXECUTE_GRP_SEQ AS UP_GRP_SEQ,
			T2.ROOT_TASK_GRP_ID,
			T2.DEPTH + 1 AS DEPTH,
			T2.TOT_CNT
		FROM GPCL_BAT_EXECUTE_GRP T1
		INNER JOIN T_BAT_UP_GRP T2 ON T2.EXECUTE_GRP_SEQ = T1.UP_EXECUTE_GRP_SEQ
		),
		
		T_BAT_GRP AS (
		SELECT 
			CAST(A.EXECUTE_GRP_SEQ AS VARCHAR(100)) AS SEQ_KEY,
			CAST(A.GRP_SEQ AS VARCHAR(100)) AS GRP_SEQ,
			A.EXECUTE_GRP_SEQ,
			A.TASK_GRP_ID,
			A.EXECUTE_GRP_SEQ AS EXECUTE_TASK_SEQ,
			'' AS TASK_ID,
			A.DEPTH AS TASK_LVL,
			B.TASK_GRP_NM,
			CASE WHEN A.UP_EXECUTE_GRP_SEQ IS NULL THEN A.EXECUTE_TP_CD ELSE '10' END AS EXECUTE_TP_CD,
			A.REG_ID,
			A.REG_DDTM,
			A.EXECUTE_PARM_VAL,
			A.EXECUTE_STAT_CD,
			A.UP_EXECUTE_GRP_SEQ,
			A.STRT_DDTM,
			A.END_DDTM,
			A.ROOT_GRP_SEQ,
			C.TASK_GRP_NM AS ROOT_TASK_GRP_NM,
			A.TOT_CNT
		FROM T_BAT_UP_GRP A
		LEFT OUTER JOIN GPCL_BAT_TASK_GRP B ON A.TASK_GRP_ID = B.TASK_GRP_ID
		LEFT OUTER JOIN GPCL_BAT_TASK_GRP C ON A.ROOT_TASK_GRP_ID = C.TASK_GRP_ID
		),
		
		T_PROC_LST AS (
		SELECT 
			ROUTINE_NAME AS TASK_ID,
			ROUTINE_COMMENT AS TASK_NM
		FROM INFORMATION_SCHEMA.ROUTINES
		WHERE ROUTINE_TYPE = 'PROCEDURE'
		),
		
		T_BAT_GRP_TASK AS (
		SELECT 
			SEQ_KEY,
			GRP_SEQ,
			EXECUTE_GRP_SEQ,
			TASK_GRP_ID,
			EXECUTE_TASK_SEQ,
			TASK_ID,
			TASK_LVL,
			TASK_GRP_NM AS TASK_GRP_NM,
			TASK_GRP_NM AS GRP_NM,
			ROOT_TASK_GRP_NM,
			'' AS TASK_TP_CD,
			0 AS TOTAL_CNT,
			'' AS DATA_FAIL_YN,
			0 AS DATA_FAIL_CNT,
			EXECUTE_TP_CD,
			REG_ID,
			REG_DDTM,
			EXECUTE_PARM_VAL,
			EXECUTE_STAT_CD,
			STRT_DDTM,
			END_DDTM,
			ROOT_GRP_SEQ,
			NULL AS TASK_SEQ,
			'' AS FOLLW_TASK_IDS,
			'' AS PARENT_TASK_IDS,
			CASE
			WHEN EXECUTE_STAT_CD = '02' THEN TIME_FORMAT(TIMEDIFF(NOW(), STR_TO_DATE(STRT_DDTM, '%Y%m%d%H%i%s')), '%H:%i:%s')
			WHEN END_DDTM = STRT_DDTM THEN '00:00:01'
			ELSE TIME_FORMAT(TIMEDIFF(STR_TO_DATE(END_DDTM, '%Y%m%d%H%i%s'), STR_TO_DATE(STRT_DDTM, '%Y%m%d%H%i%s')), '%H:%i:%s')
			END AS EXEC_MI,
			TOT_CNT
		FROM T_BAT_GRP
		
		UNION ALL
		
		SELECT 
			CONCAT(A.SEQ_KEY, '-', B.EXECUTE_TASK_SEQ) AS SEQ_KEY,
			A.SEQ_KEY AS GRP_SEQ,
			B.EXECUTE_GRP_SEQ,
			C.TASK_GRP_ID,
			B.EXECUTE_TASK_SEQ,
			C.TASK_ID,
			C.TASK_LVL,
			CASE
			WHEN C.TASK_TP_CD IN ('01', '02') THEN IFNULL(E.MAP_INFO_NM, C.TASK_ID)
			WHEN C.TASK_TP_CD = '03' THEN IF(F.TASK_NM = '' OR F.TASK_NM IS NULL, C.TASK_ID, F.TASK_NM)
			ELSE IFNULL(D.TASK_NM, C.TASK_ID)
			END AS TASK_NM,
			A.TASK_GRP_NM,
			A.ROOT_TASK_GRP_NM,
			C.TASK_TP_CD,
			IFNULL(B.TOTAL_CNT, 0) AS TOTAL_CNT,
			CASE WHEN B.FAIL_CNT <> 0 THEN 'Y' ELSE 'N' END AS DATA_FAIL_YN,
			IFNULL(B.FAIL_CNT, 0) AS DATA_FAIL_CNT,
			'00' AS EXECUTE_TP_CD,
			'' AS REG_ID,
			'' AS REG_DDTM,
			'' AS EXECUTE_PARM,
			B.EXECUTE_STAT_CD,
			B.STRT_DDTM,
			B.END_DDTM,
			A.ROOT_GRP_SEQ,
			ROW_NUMBER() OVER (PARTITION BY A.ROOT_GRP_SEQ ORDER BY B.STRT_DDTM, C.TASK_LVL) AS TASK_SEQ,
			FOLLW_TASK_IDS,
			PARENT_TASK_IDS,
			CASE
			WHEN B.EXECUTE_STAT_CD = '02' THEN TIME_FORMAT(TIMEDIFF(NOW(), STR_TO_DATE(B.STRT_DDTM, '%Y%m%d%H%i%s')), '%H:%i:%s')
			WHEN B.END_DDTM = A.STRT_DDTM THEN '00:00:01'
			ELSE TIME_FORMAT(TIMEDIFF(STR_TO_DATE(B.END_DDTM, '%Y%m%d%H%i%s'), STR_TO_DATE(B.STRT_DDTM, '%Y%m%d%H%i%s')), '%H:%i:%s')
			END AS EXEC_MI,
			A.TOT_CNT
		FROM T_BAT_GRP A
		INNER JOIN GPCL_BAT_EXECUTE_TASK B ON A.EXECUTE_GRP_SEQ = B.EXECUTE_GRP_SEQ
		INNER JOIN GPCL_BAT_TASK_CONN C ON B.TASK_CONN_SEQ = C.TASK_CONN_SEQ
		LEFT OUTER JOIN GPCL_BAT_TASK D ON C.TASK_ID = D.TASK_ID
		LEFT OUTER JOIN GPCL_FILE_MAP_INFO E ON C.TASK_ID = E.MAP_INFO_ID
		LEFT OUTER JOIN T_PROC_LST F ON C.TASK_ID = F.TASK_ID
		),
		
		T_GRP_CNT AS (
		SELECT 
			SUM(1) AS GRP_CNT,
			SUM(IF(EXECUTE_STAT_CD = '09', 1, 0)) AS GRP_SUC_CNT,
			GRP_SEQ
		FROM T_BAT_GRP_TASK
		WHERE GRP_SEQ IS NOT NULL
		GROUP BY GRP_SEQ
		),
		
		T_FINAL AS (
		SELECT 
			A.SEQ_KEY,
			CAST(A.GRP_SEQ AS VARCHAR(100)) AS GRP_SEQ,
			A.EXECUTE_GRP_SEQ,
			A.EXECUTE_TASK_SEQ,
			A.ROOT_GRP_SEQ,
			A.TASK_SEQ,
			A.TASK_GRP_NM,
			IF(EXECUTE_TP_CD = '00', '', CONCAT('[', IFNULL(D.GRP_SUC_CNT, 0), '/', IFNULL(D.GRP_CNT, 0), ']')) AS FOLLW_TASK_CNT,
			CONCAT('[', A.EXECUTE_GRP_SEQ, ']', A.GRP_NM) AS GRP_NM,
			A.EXECUTE_TP_CD,
			A.TASK_TP_CD,
			A.REG_ID,
			IF(E.USR_NM IS NULL, A.REG_ID, E.USR_NM) AS REG_NM,
			DATE_FORMAT(NOW(), '%Y%m%d%H%i%s') AS REG_DDTM,
			A.EXECUTE_PARM_VAL,
			A.EXECUTE_STAT_CD,
			C.CD_VAL_NM AS EXECUTE_STAT_NM,
			DATE_FORMAT(STR_TO_DATE(A.STRT_DDTM, '%Y%m%d%H%i%s'), '%Y-%m-%d %H:%i:%s') AS STRT_DDTM,
			DATE_FORMAT(STR_TO_DATE(A.END_DDTM, '%Y%m%d%H%i%s'), '%Y-%m-%d %H:%i:%s') AS END_DDTM,
			A.TASK_LVL,
			A.TOTAL_CNT,
			A.DATA_FAIL_CNT,
			A.DATA_FAIL_YN,
			A.TASK_ID,
			A.FOLLW_TASK_IDS,
			A.PARENT_TASK_IDS,
			A.EXEC_MI,
			A.TOT_CNT
		FROM T_BAT_GRP_TASK A
		LEFT JOIN T_GRP_CNT D ON A.SEQ_KEY = D.GRP_SEQ
		LEFT JOIN GPCL_CM_CD_VAL C ON A.EXECUTE_STAT_CD = C.CD_VAL AND C.GRP_CD_ID = 'EXECUTE_STAT_CD'
		LEFT OUTER JOIN GPCL_USR E ON A.REG_ID = E.USR_ID
		)
		
		SELECT 
		SEQ_KEY,
		GRP_SEQ,
		EXECUTE_GRP_SEQ,
		EXECUTE_TASK_SEQ,
		TASK_SEQ,
		TASK_GRP_NM,
		EXECUTE_TP_CD,
		REG_NM,
		EXECUTE_PARM_VAL,
		EXECUTE_STAT_CD,
		EXECUTE_STAT_NM,
		STRT_DDTM,
		END_DDTM,
		TASK_LVL AS DEPTH,
		TOTAL_CNT,
		DATA_FAIL_CNT,
		DATA_FAIL_YN,
		TASK_ID,
		FOLLW_TASK_IDS,
		PARENT_TASK_IDS,
		EXEC_MI,
		TOT_CNT
		FROM T_FINAL
		ORDER BY ROOT_GRP_SEQ DESC, EXECUTE_TASK_SEQ, TASK_LVL, TASK_SEQ

    ]]>
  </select>

  <select id="selectExcpDtlLog" parameterType="map" resultType="map">
  <![CDATA[
    SELECT 
      EXECUTE_RSLT_CONTN
    FROM GPCL_BAT_EXECUTE_TASK
    WHERE EXECUTE_TASK_SEQ = #{EXECUTE_TASK_SEQ}
  ]]>
</select>

<select id="selectExcpDtlLogList" parameterType="map" resultType="map">
  <![CDATA[
    SELECT 
	  LOG_SEQ,
	  EXE_TASK_SEQ,
	  EXE_TASK_DD,
	  EXE_TASK_TM,
	  REG_ID,
	  BAS_DD,
	  PRG_ID,
	  PK_VAL1,
	  PK_VAL2,
	  PK_VAL3,
	  PK_VAL4,
	  PK_VAL5,
	  ERR_NUMBER,
	  ERR_SEVERITY,
	  ERR_STATE,
	  ERR_PROCEDURE,
	  ERR_LINE,
	  ERR_MESSAGE,
      COUNT(1) OVER (ORDER BY (SELECT 1)) AS TOT_CNT
    FROM GPCL_TASK_EXCPT_LOG
    WHERE EXE_TASK_SEQ = #{EXECUTE_TASK_SEQ}
    ORDER BY LOG_SEQ
    -- LIMIT #{PAGE_CNT} OFFSET #{OFFSET}
  ]]>
</select>

</mapper>
