<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godisweb.mapper.iwon.EmployeeWalletMapper">

    <select id="selectWalletList" parameterType="map" resultType="map">
        SELECT EMP_NO      AS employeeId
             , EMP_NM      AS employeeName
             , DEPT_NM     AS deptName
             , WALLET_ADDR AS walletAddress
             , COIN_BAL    AS balance
             , USE_YN      AS status
          FROM IWN_EMP_WALLET
         WHERE 1=1
         <if test="keyword != null and keyword != ''">
           AND (
                 EMP_NO LIKE CONCAT('%', #{keyword}, '%')
              OR EMP_NM LIKE CONCAT('%', #{keyword}, '%')
              OR WALLET_ADDR LIKE CONCAT('%', #{keyword}, '%')
           )
         </if>
         ORDER BY EMP_NO
    </select>

    <select id="selectWalletDetail" parameterType="string" resultType="map">
        SELECT EMP_NO      AS employeeId
             , EMP_NM      AS employeeName
             , DEPT_NM     AS deptName
             , WALLET_ADDR AS walletAddress
             , COIN_BAL    AS balance
             , USE_YN      AS status
          FROM IWN_EMP_WALLET
         WHERE EMP_NO = #{id}
    </select>

    <update id="updateWallet" parameterType="map">
        UPDATE IWN_EMP_WALLET
        <set>
            <choose>
                <when test="param.walletAddress != null and param.walletAddress != ''">
                    WALLET_ADDR = #{param.walletAddress},
                </when>
                <when test="param.WALLET_ADDR != null and param.WALLET_ADDR != ''">
                    WALLET_ADDR = #{param.WALLET_ADDR},
                </when>
            </choose>

            <choose>
                <when test="param.balance != null and param.balance != ''">
                    COIN_BAL = #{param.balance},
                </when>
                <when test="param.COIN_BAL != null and param.COIN_BAL != ''">
                    COIN_BAL = #{param.COIN_BAL},
                </when>
            </choose>

            <choose>
                <when test="param.status != null and param.status != ''">
                    USE_YN = #{param.status},
                </when>
                <when test="param.USE_YN != null and param.USE_YN != ''">
                    USE_YN = #{param.USE_YN},
                </when>
            </choose>

            LST_ADJ_DDTM = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'),
            LST_ADJPRN_ID = 'admin'
        </set>
         WHERE EMP_NO = #{id}
    </update>

</mapper>
